<template>
<div class="wrapper">
  I am a card, 'sup?
  <br/>
  ASd
  <br/>
  adsad
</div>
</template>

<script>
export default {
  name: 'AppCard',
};
</script>

<style lang="scss" scoped>
.wrapper {
  background-color: white;

  min-width: 325px;
  max-width: 325px;

  border-radius: 0.4em;
}
</style>
